:root {
  --container-bg: violet;
  --container-height:100px;

  --item-bg:orange;
  --item-width:150px;
  --item-height:30px;
}

.section_title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: lightskyblue;
}

.container_row {
  background-color: var(--container-bg);
  height: var(--container-height);
  display: flex;
  flex-direction: row;
}

.container_column {
  background-color: var(--container-bg);
  height: var(--container-height);
  display: flex;
  flex-direction: row;
}

.item {
  text-align: center;
  background-color: var(--item-bg);
  border: 2px solid black;
  border-radius: 5px;
}

.item1 {
  text-align: center;
  background-color: var(--item-bg);
  border: 2px solid black;
  border-radius: 5px;
  width: var(--item-width);
  height: var(--item-height);
}

.item2 {
  text-align: center;
  background-color: var(--item-bg);
  border: 2px solid black;
  border-radius: 5px;
  width: var(--item-width);
  /* height: var(--item-height); */
}

.item3 {
  text-align: center;
  background-color: var(--item-bg);
  border: 2px solid black;
  border-radius: 5px;
  width: 50px;
  height: var(--item-height);
}