body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition:color 0.3;
}

.nav-links li a:hover {
  color: #f39c12;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.burger {
  flex-direction: column;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links{
    display: none;
    flex-direction:column;
    position: absolute;
    width: 100%;
    top:100%;
    background-color: #333;
    left:0;
    margin:0;
    text-align: center;
    transition:all 0.3;
  }

  .navbar{
    position:relative;
  }

  .nav-links.active {
   /*  padding-left:0px; */
    display:flex;
  }
}
